.content2 .current-price,
.content2 .buy-item,
.content2 .price-block {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-right: -3px;
}

.buy-item .buy-btn {
  width: 100%;
  padding: 5px;
}

.status.much {
  display: none;
}

.content2 .cat-item .subprice {
  width: 100%;
}

.content2 .add-price-wrap {
  display: inline-block;
  width: 60%;
  margin-right: -3px;
}

.content2 .buttons {
  display: inline-block;
  width: 40%;
  float: none;
  margin-right: -3px;
}

.content2 .bottom-wrap .more-info-wrap .compare,
.content2 .bottom-wrap .more-info-wrap .whishlist {
  vertical-align: bottom;
  padding-bottom: 3px;
  padding-top: 0;
}

.content2 .bottom-wrap .more-info-wrap .compare {
  padding-left: 0px;
}

.content2 .current-price {
  margin-bottom: 0;
}

.content2 .buy-item {
  margin-top: 5px;
}

.content2 .buy-item {
  margin-top: 5px;
}

.content2 .bottom-wrap {
  margin-top: 20px;
}

.content2 .item-quantity {
  width: 100%;
  text-align: center;
}

.bottom-wrap_custom .price-block {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin-right: -3px;
}

.bottom-wrap_custom .buy-item {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-right: -3px;
  margin-top: 15px;
}

.buy-item .item-quantity .quantity {
  width: calc(100% - 17*2px);
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.cat-item {
  height: 100%;
}

.cat-item .wrap {
  background-color: #fff;
}

.cat-item .wrap:hover {
  -webkit-box-shadow: 0 20px 35px 0 rgba(1, 1, 1, .05);
  box-shadow: 0 20px 35px 0 rgba(1, 1, 1, .05);
}

.basket-header .link span.basket-header__price {
  position: absolute;
  bottom: 5px;
  left: 37px;
  font-size: 12px;
}

.fixed .basket-header .link span.basket-header__price {
  left: 46px;
}

.basket-header .link span:not(.basket-header__price):not(.num) {
  margin-bottom: 10px;
}

.fixed .basket-header .link span:not(.basket-header__price):not(.num) {
  margin-bottom: 15px;
}

.head_bot .col-xs-3 {
  width: 24%;
}

.head_bot .col-xs-9 {
  width: 76%
}

.fixed .search-head-3 {
  margin-left: 0;
}

.no-pl .head-call-wrap {
  float: left;
  width: 49.5%;
}

.no-pl .search-wrap {
  float: left;
  width: 50.5%;
}

/* .no-pl .control-group_border {
  -webkit-box-shadow: 0px 0px 0px 3px #ffddcb;
  box-shadow: 0px 0px 0px 3px #ffddcb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
} */

.no-pl input[type=search] {
  border: 1px solid #ffae78;
  box-shadow: 0px 0px 0px 3px #ffddcb;
}

.no-pl .info_tel {
  position: relative;
}

.no-pl .info_tel .arrow {
  position: absolute;
  content: '';
  right: -12px;
  top: 50%;
  border: 3.5px solid transparent;
  border-top: 4px solid #132859;
  cursor: pointer;
}

.no-pl .head-call .icon {
  margin-right: 5px;
}

.no-pl .head-call .info-wrap {
  position: relative;
  margin-right: 35px;
  padding: 0 38px 0 20px;
}

.no-pl .head-call .info-wrap .info_mail {
  margin-right: 15px;
}

.no-pl .head-call .info-wrap .info_mail img {
  display: inline;
  margin-right: 11px;
}

.no-pl_custom {
  position: relative;
  margin-top: 30px;
}

.no-pl_custom .search-wrap {
  width: 77%;
}

.no-pl_custom .head-call-wrap {
  width: 23%;
}

.no-pl_custom .search-head-3,
.no-pl_custom .head-call {
  margin-top: 36px;
}

.no-pl_custom .search-head-3 .btn-search {
  background-image: url("../img/search.png");
  background-position: center center;
  width: 20px;
  height: 20px;
}

.no-pl_custom .head-call .info-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-right: 0;
  padding: 0;
}

.no-pl_custom .head-call .info-wrap .info {
  display: inline-block;
}

.no-pl_custom .head-call .info-wrap .info_mail {
  float: right;
}

.no-pl_custom .head-call .info-wrap .info_tel {
  margin-right: 25px;
}

.no-pl_custom .head-call .info-wrap .info_tel .arrow {
  display: none;
}

.no-pl .info-wrap__dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.no-pl .info-wrap__dropdown a {
  white-space: nowrap;
}

.no-pl .info-wrap__dropdown .info {
  margin: 0;
}

.no-pl .info-wrap__dropdown .info-block {
  border-bottom: 1px solid #d0d0d0;
  padding: 20px 15px;
  margin: 0 5px;
}

.no-pl .info-wrap__dropdown .info-block .info:not(:last-child) {
  margin-bottom: 8px;
}

.no-pl .info-wrap__dropdown .info_active_call {
  color: #ffffff;
  background-color: #005790;
  margin: 0;
  padding: 20px;
}

.no-pl .info-wrap__dropdown .info_active_call a {
  color: #ffffff;
  margin-left: 30px;
}

.no-pl .info-wrap__dropdown .info_mail {
  margin: 0;
  padding: 20px;
}

.no-pl .info-wrap__dropdown:before {
  position: absolute;
  display: block;
  content: '';
  top: -10px;
  right: 25px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #005790;
}

.no-pl .info-wrap__dropdown img {
  display: inline;
  width: 16px;
  margin-right: 11px;
}

.cat-item .available-colors {
  width: initial;
  line-height: 2.1;
}

.bottom-wrap_custom {
  margin-top: 20px;
}

.bottom-wrap_custom .subprice {
  width: 100%;
}

.bottom-wrap_custom>.price-block .subprice-wrap .subprice span,
.content2 .bottom-wrap .price-block .subprice-wrap .subprice span {
  color: #ffffff;
  background-color: #005790;
}

.bottom-wrap_custom .current-price {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 7px;
}

.bottom-wrap_custom>.price-block .price-wrap .current-price .price {
  font-size: 21px;
  font-weight: bold;
}

.bottom-wrap_custom>.price-block .price-wrap .current-price .price_small {
  font-size: 16px;
}

.bottom-wrap_custom .add-price-wrap,
.bottom-wrap_custom .buttons {
  float: none;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  margin-right: -3px;
}

.bottom-wrap_custom .add-price-wrap {
  width: 60%;
}

.bottom-wrap_custom .buttons {
  width: 40%;
}

.bottom-wrap_custom .current-price .price,
.bottom-wrap_custom .buttons .price {
  font-size: 16px;
  font-weight: bold;
}

.bottom-wrap_custom .current-price .price_small,
.bottom-wrap_custom .buttons .price_small {
  font-size: 14px;
}

.bottom-wrap_custom .more-info-wrap {
  margin-bottom: 10px;
}

.bottom-wrap_custom .more-info-wrap .compare,
.bottom-wrap_custom .more-info-wrap .whishlist {
  vertical-align: bottom;
  padding-bottom: 3px;
  padding-top: 0;
}

.bottom-wrap_custom .more-info-wrap .compare {
  padding-left: 0px
}

.fixed .logo-png__pic .logo-png__img {
  height: 72px;
  width: 196px;
}

.fixed .logo-png {
  margin: 0;
}

.fixed .head_bot {
  padding-top: 0;
  padding-bottom: 10px;
}

.fixed .head-call {
  margin-top: 16px;
}

.fixed .search-head-3 {
  margin-top: 20px;
}

.fixed .logo-png__title {
  height: 0;
}

.md8-active .logo-png__text2 {
  display: none;
}

.info__desc_min,
.time_min {
  display: none;
}

.show_inline {
  display: inline;
}

@media (max-width: 1279px) {
  .basket-header.empty-basket {
    padding-left: 0;
  }
  .info__desc_min,
  .time_min {
    display: inline;
  }
  .fixed .head-call .btn-wrap .btn {
    display: none;
  }
  .no-pl .search-wrap {
    width: 48.5%;
  }
  .no-pl .head-call-wrap {
    width: 34.5%;
  }
  .no-pl .head-call {
    padding-left: 0;
  }
  .no-pl .info-wrap__dropdown:before {
    right: 25px;
  }
  .no-pl_custom .head-call .info-wrap .info_tel .arrow {
    display: block;
  }
  .no-pl_custom .head-call .info-wrap .info__desc,
  .no-pl_custom .head-call .info-wrap .sub-phone,
  .no-pl_custom .head-call .info-wrap .info_time .main-text {
    display: none;
  }
  .no-pl_custom .search-wrap {
    width: 77%;
  }
  .no-pl_custom .head-call-wrap {
    width: 23%;
  }
  .no-pl_custom .info-wrap__dropdown {
    width: 200px;
  }
  .no-pl_custom .info-wrap__dropdown:before {
    right: 36px;
  }
  .bottom-wrap_custom .buttons {
    text-align: left;
  }
  .bottom-wrap_custom .buttons .compare {
    padding-left: 0px;
    padding-right: 0px;
  }
  .bottom-wrap_custom .add-price-wrap {
    width: 65%;
  }
  .bottom-wrap_custom .buttons {
    width: 35%;
  }
}

.colors-wrap li.color {
  position: relative;
}

.colors-wrap li.color .color__discount {
  position: absolute;
  top: -3px;
  right: -3px;
  font-size: 11px;
  color: #ffffff;
  background-color: #d46117;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.element-descr .desc-wrap {
  padding-right: 15px;
}

.element-descr .main-desc-left {
  width: 64.5%;
}

.element-descr .main-desc-right {
  width: 35.5%;
  text-align: left;
  padding-left: 15px;
}

.element-descr .main-desc-right .price-old {
  font-size: 16px;
  margin-bottom: 5px;
}

.element-descr .main-desc-right .price-old span {
  font-size: 12px;
}

.element-descr .main-desc-right .buy-btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.element-descr .main-desc-right .buy-one-click {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 9px 0;
  margin-bottom: 5px;
}

.element-descr .main-desc-right .buy-one-click span {
  border-bottom: none;
}

.element-descr .main-desc-right .add-accessories {
  display: block;
  font-size: 13px;
  color: #1c3149;
  border-bottom: none;
  text-align: center;
  padding: 9px 0;
}

.element-descr .item-quantity {
  margin-bottom: 20px;
}

.element-descr .price {
  line-height: 1.1;
  margin: 0;
}

.element-descr .price span.price {
  margin-right: 0;
}

.element-descr .price-wrap {
  margin-bottom: 20px;
}

.element-descr .add-accessories__symbol {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #012d49;
  text-align: center;
  border: 1px solid #1c3149;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .bottom-wrap_custom .buttons {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;
  }
  .bottom-wrap_custom .buttons .compare {
    padding-left: 16px;
  }
}

@media (max-width: 562px) {
  .bottom-wrap_custom .more-info-wrap {
    display: none;
  }
  .bottom-wrap_custom .price-block {
    width: 100%;
  }
  .bottom-wrap_custom .buy-item {
    display: none;
  }
}

@media (max-width: 479px) {
  .element-descr .main-desc-right {
    width: 100%;
    padding-left: 0;
  }
  .element-descr .main-desc-right {
    width: 100%;
  }
}
/* BEGIN: 01-06-18 */
.cat-item .colors-list {
  overflow: unset;
}
/* END: 01-06-18 */